.childCate{
    cursor: pointer;
}
.text-bold{
    font-weight: bold!important;
}
.btn-icon-custom{
    padding: 2px 4px!important;
    margin-right: 8px;
    margin-bottom: 8px;
}

.btn-icon-custom i{
    margin: 0px!important;
}
.check-action{
    transform: scale(2);
    margin: 0px 10px;
}
.blRemoveProductPlus{
    margin-bottom: 21px!important;
    width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(120, 120, 120)!important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(120, 120, 120)!important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(120, 120, 120)!important;
}

input, select{
    border: 1px solid #d6d6d6!important;
}