.chosen-container-single .chosen-single{
  height: 34px;
  padding: 3px 0 0 20px;
}
.chosen-container-single .chosen-single div b{
  background: url(../../../public/images_kho/icon/icDown.svg) no-repeat 0px 13px;
}
.chosen-container .chosen-results{
  font-size: 13px;
}